.App {
  text-align: center;
  background-color: #282c34;
  padding: 50px ;
  width: auto;
  
  
}

.PsdsDisplay{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.Title{
  font-weight: bolder;
  color: crimson;
}



@media only screen and (max-width: 600px)  {
  body{
    width: 100%;
    

  }
  .Title{
    padding: 10px;
  }
  .PsdsDisplay{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

}